html {
  box-sizing: border-box;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1158;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
body {
  margin: 0;
  font-family: "Livvic", serif;
  background-image: url("../imgs/body-bg.svg");
  background-size: cover;
}
