.footer__mobile,
.footer__desctop {
  background-color: #1d1e25;
}

.footer__desctop {
  padding-top: 62px;
  padding-bottom: 45px;
}
.footer__block_mobile {
  text-align: center;
  padding-top: 66px;
}

.footer__go {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 54px;
}

.footer__input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.01em;
  color: #8d8d8d;
  padding: 11px 72px 14px 24px;
  background-color: #fff;
  border-radius: 22px;
  border: none;
}

.footer__btn {
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  text-transform: capitalize;
  text-align: center;
  color: #fcf6f5;
  border-radius: 22px;
  padding: 14px 25px 14px 25px;
  background: #f3603c;
  border: none;
}

.footer__info {
  text-align: start;
  display: flex;
  justify-content: center;
  gap: 106px;
}
.footer__link {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer__item:not(:last-child) {
  margin-bottom: 13px;
}

.footer__content {
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer__icon {
  display: flex;
  justify-content: center;
  gap: 34px;
  margin-bottom: 56px;
}

.copyright {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
}

.footer__desctop {
  display: none;
  margin: 0;
  gap: 120px;
}
.footer__info_desctop {
  display: flex;
  gap: 100px;
}
.footer__contanct_desctop {
  display: flex;
  flex-direction: column;
  gap: 83px;
}
.footer__icon_desctop {
  display: flex;
  gap: 13px;
  align-items: center;
}
.footer__go-desctop {
  display: flex;
  gap: 85px;
  flex-direction: column;
}
.footer__sub_go-desctop {
  display: flex;
  gap: 8px;
}
.copyright-desctop {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #fff;
}
@media screen and (min-width: 1440px) {
  .footer__mobile {
    display: none;
  }
  .footer__desctop {
    display: flex;
  }
}
