.directors {
  padding-top: 88px;
  padding-bottom: 116px;
  background-color: $delivering-color;
  background-repeat: no-repeat;
  background-image: url("../imgs/directors__bg-1.svg"),
    url("../imgs/directors__bg-2.svg");
  background-position: left top, right bottom;
}
.directors__block {
  text-align: center;
}
.directors__list {
  display: grid;
  row-gap: 52px;
  grid-template-columns: 1fr;
}
.directors__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #012f34;
}
.directors__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}

.directors__info {
  padding: 32px 24px 56px 24px;
}

.directors__name {
  margin-top: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #79c8c7;
}
.directors__role {
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fff;
}

.directors__btn {
  position: absolute;
  display: flex;
  top: 88%;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: white;
  background-color: #f67e7e;
  padding: 30px 30px;
  border: none;
  transition: background-color 0.3s ease;
}
.directors__description {
  margin-top: 8px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fff;
}
.directors__btn:hover {
  background-color: #79c8c7;
}

.directors__btn_plas-1,
.directors__btn_plas-2 {
  position: absolute;
  background: #012f34;
  transition: transform 0.3s ease;
}

.directors__btn_plas-1 {
  width: 4px;
  height: 16px;
}

.directors__btn_plas-2 {
  width: 16px;
  height: 4px;
}

.directors__btn:hover .directors__btn_plas-1 {
  transform: rotate(45deg);
}

.directors__btn:hover .directors__btn_plas-2 {
  transform: rotate(45deg);
}
.directors__contact {
  display: flex;
  justify-content: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .directors {
    padding-top: 100px;
    padding-bottom: 128px;
    background-image: url("../imgs/directors__bg-3.svg"),
      url("../imgs/directors__bg-2.svg");
    background-position: left top, right bottom;
  }
  .directors__list {
    row-gap: 76px;
    column-gap: 11px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1440px) {
  .directors {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .directors__title {
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 64px;
  }
  .directors__list {
    row-gap: 76px;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .directors__description {
    max-width: 254px;
  }
}
